ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;

    li{
        background: rgb(39, 39, 39);
        padding: 1em;
        margin-right: 10px;
        width: 100px;
        height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        border-color: rgb(17, 17, 17);
        border-width: 1px;
        border-style: solid;
        &:hover{
            background-color: lighten( rgb(39, 39, 39), 1%);
        }

        p{
            margin: 0;
        }

        p.symbol{
            font-weight: bold;
        }
    }
}

.button { 
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    padding: 6px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: default;
    &:hover{
        background-color: lighten( red, 10%);
    }
}



.buttonContainer{
    width: 100%;
    position:fixed;
    top: 90%;
}
